@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNovaSoftW03-Regular.woff2') format('woff2'),
  url('ProximaNovaSoftW03-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNovaSoft-Bold.woff2') format('woff2'),
  url('ProximaNovaSoft-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-Light.woff2') format('woff2'),
  url('ProximaNova-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}